/*
Font system:
font-family: 'Roboto', sans-serif;
font-weight: 300 light / 400 regular / 500 medium;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 300 light / 400 regular / 700 bold;

CSS guidelines:
https://docs.google.com/document/d/1EHHLU83IDTeBAEVczZ-53MR2rAGKw8Z-srgKZgdJk1s/edit#
*/

body{
	background-color: #66CBE6;
	font-family: 'Roboto';
	color: #FFF;
}

#canvas{
	position: static;
}

/*general UI components*/
.btn, .btn_dis{
	display: inline-block;
	text-align: center;
	height: 35px;
	line-height: 35px;
	width: 160px;
	margin-left:5px;
	margin-right:5px;
	font-size: 14px;
	font-weight: 400;
	background-color: #0687C1;
}
.btn:hover{
	cursor:pointer;
}
.btn img{
	vertical-align: middle;
	margin-left:-6px;
}
.btn_dis{
	background-color: #8D8D8D;
}
.btn_dis:hover{
	cursor:default;
}

.input_text{
	padding-left:5px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 18px;
	width: 330px;
	color: #aaa;
	border: none;
	border-bottom: solid 3px #aaa;
	margin: 5px;
	margin-left: 0px;
}
.input_text:focus{
	color: #333;
	font-weight: 400;
	border-bottom: solid 3px #C88;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #aaa;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #aaa;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #aaa;
}
:-moz-placeholder { /* Firefox 18- */
	color: #aaa;
}

a {
	color: #FFF;
}

.credit{
	position: relative;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
}

.moto{
	margin-top:-8px;
	font-size: 24px;
}

.login_heading{
	font-weight: 500;
	font-size: 18px;
	padding-bottom: 30px;
}

.check_txt{
	font-weight:300;
	font-size:16px;
}

.message{
	font-size: 18px;
}

/*Screen LOGIN_INIT*/
#SCR_LOGIN_INIT{
	position: relative;
	text-align: center;
}

#SCR_LOGIN_INIT .buttons{
	margin-top: 40px;
}

/*Screen for LOGIN_SIGNUP */
#SCR_LOGIN_SIGNUP{
	position:relative;
	text-align:center;
	width:840px;
}

#SCR_LOGIN_SIGNUP #left{
	position:absolute;
	text-align:center;
	width:420px;
	left:0px;
}

#SCR_LOGIN_SIGNUP #right{
	position:absolute;
	text-align:left;
	width:420px;
	left:420px;
	padding-left: 20px;
}

#SCR_LOGIN_SIGNUP #left .description{
	padding-top: 40px;
	font-size: 18px;
	font-weight: 300;
}

#login_profile{
	margin-top:5px;
	margin-bottom:10px;
	position: relative;
	height: 120px;
	width: 350px;
	padding: 0px;
}

#login_profile_left{
	position: absolute;
	height: 120px;
	width: 120px;
	left: 0px;
	top: 0px;
}

#login_profile_right{
	position: absolute;
	height: 120px;
	width: 230px;
	left: 120px;
	top: 0px;
	font-weight:300;
	font-size: 16px;
	padding-left: 10px;
}

/*Screen LOGIN_SIGNIN*/
#SCR_LOGIN_SIGNIN{
	position: relative;
	text-align: center;
}

#SCR_LOGIN_SIGNIN .signin_form{
	margin-top: 40px;
}

#SCR_LOGIN_SIGNIN .buttons{
	margin-top: 20px;
}

#login_forgot{
	margin-top: 15px;
	font-size: 18px;
	font-weight: 300;
}