/*
Font system:
font-family: 'Roboto', sans-serif;
font-weight: 300 light / 400 regular / 500 medium;
font-family: 'Roboto Condensed', sans-serif;
font-weight: 300 light / 400 regular / 700 bold;

CSS guidelines:
https://docs.google.com/document/d/1EHHLU83IDTeBAEVczZ-53MR2rAGKw8Z-srgKZgdJk1s/edit#
*/

body{
	background-color: #66CBE6;
	font-family: 'Roboto';
	color: #FFF;
	margin: 0;
}

#canvas{
	position: static;
}

/*general UI components*/
.btn, .btn_dis{
	display: inline-block;
	text-align: center;
	height: 35px;
	line-height: 35px;
	width: 160px;
	margin-left:5px;
	margin-right:5px;
	font-size: 14px;
	font-weight: 400;
	background-color: #0687C1;
}
.btn:hover{
	cursor:pointer;
}
.btn img{
	vertical-align: middle;
	margin-left:-6px;
}
.btn_dis{
	background-color: #8D8D8D;
}
.btn_dis:hover{
	cursor:default;
}

.input_text{
	padding-left:5px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 18px;
	width: 330px;
	color: #aaa;
	border: none;
	border-bottom: solid 3px #aaa;
	margin: 5px;
	margin-left: 0px;
}
.input_text:focus{
	color: #333;
	font-weight: 400;
	border-bottom: solid 3px #C88;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #aaa;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #aaa;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #aaa;
}
:-moz-placeholder { /* Firefox 18- */
	color: #aaa;
}

a {
	color: #FFF;
}

.credit{
	position: relative;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
}

.moto{
	margin-top:-8px;
	font-size: 24px;
}

.login_heading{
	font-weight: 500;
	font-size: 18px;
	padding-bottom: 30px;
}

.check_txt{
	font-weight:300;
	font-size:16px;
}

.message{
	font-size: 18px;
}

.valid_error_msg{
	font-size: 14px; 
	color: #c33; 
	margin: 0; 
	top: -2px; 
	position:relative; 
	width: 335px
}

/*Screen LOGIN_INIT*/
#SCR_LOGIN_INIT{
	position: relative;
	text-align: center;
}

#SCR_LOGIN_INIT .buttons{
	margin-top: 40px;
}

/*Screen for LOGIN_SIGNUP */
#SCR_LOGIN_SIGNUP{
	position:relative;
	text-align:center;
	width:840px;
}

#SCR_LOGIN_SIGNUP #left{
	position:absolute;
	text-align:center;
	width:420px;
	left:0px;
}

#SCR_LOGIN_SIGNUP #right{
	position:absolute;
	text-align:left;
	width:420px;
	left:420px;
	padding-left: 20px;
}

#SCR_LOGIN_SIGNUP #left .description{
	padding-top: 40px;
	font-size: 18px;
	font-weight: 300;
}

#login_profile{
	margin-top:5px;
	margin-bottom:10px;
	position: relative;
	height: 120px;
	width: 350px;
	padding: 0px;
}

#login_profile_left{
	position: absolute;
	height: 120px;
	width: 120px;
	left: 0px;
	top: 0px;
}

#login_profile_right{
	position: absolute;
	height: 120px;
	width: 230px;
	left: 120px;
	top: 0px;
	font-weight:300;
	font-size: 16px;
	padding-left: 10px;
}

/*Screen LOGIN_SIGNIN*/
#SCR_LOGIN_SIGNIN{
	position: relative;
	text-align: center;
}

#SCR_LOGIN_SIGNIN .signin_form{
	margin-top: 40px;
}

#SCR_LOGIN_SIGNIN .buttons{
	margin-top: 20px;
}

#login_forgot{
	margin-top: 15px;
	font-size: 18px;
	font-weight: 300;
}

/* Screen LOGIN_SIGNUP_DONE */
.modal {
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4)
}

.modal-content {
	display: none;
	background-color: white;
	margin: 10% auto;
	padding: 30px;
	width: 350px;
	box-shadow: 0 0 5px #aaa;
}

.modal-content h2{
	color: black;
	margin-top: 0;
	margin-bottom: 5px;
}
.modal-content p{
	color: #ccc;
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 14px;
}

/* Screen DASHBOARD */
#SCR_DASHBOARD{
	position:relative;
	text-align:center;
}

#SCR_DASHBOARD #top-bar{
	position: relative;
	margin: 25px;
	height: 50px;
}

#info-widget{
	background-color: white;
	border: none;
	border-radius: 5px;
	box-shadow: 0 5px 20px -5px #555;
	position: absolute;
	right: 0px;
}

#user-img{
	width: 32px;
	height: 32px;
	display: inline-block;
	border-radius: 5px 0px 0px 5px;
	padding: 3px 0 0 5px;
}
#user-img img{
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

#user-info{
	color: #aaa;
	display: inline-block;
	font-size: 25px;
	padding: 5px 10px 5px 5px;
	vertical-align: top;
}

#SETTINGS{
	width: 30px;
	height: 30px;
	background-color: #66cbe6;
	display: inline-block;
	border-radius: 0 5px 5px 0;
	padding: 5px;
}

#SETTINGS img{
	height: 100%;
	width: 100%;
}

#SETTINGS:hover{
	cursor: pointer;
	background-color: #60b8d0;
}


#SCR_DASHBOARD #top{
	height: 330px;
}

#SCR_DASHBOARD #bot{
	background-color: white;
}

#create_new{
	padding-top: 20px;
}

#event_title{
	height: 30px;
	margin: 0;
}

#EVENT_CREATE{
	width: 200px;
	margin: 0;
}

.group_list{
	padding: 25px;
	width: 425px;
	margin-left: auto;
	margin-right: auto;
}

.group_entry{
	padding: 10px;
	text-align: left;
}
.group_entry img{
	height: 35px;
	width: 35px;
	border-radius: 50%;
	margin-right: 10px;
}
.group_entry h1{
	margin: 5px 0 5px 0;
	font-size: 15px;
	color: #aaa;
}
.group_entry .group_title{
	font-size: 25px;
	color: black;
}
.group_entry p{
	margin: 5px 0 5px 0;
	font-size: 15px;
	color: #aaa;
}
.group_entry .num_msgs{
	color: #f00;
}
.group_entry .btn{
	margin-left: 0;
	margin-right: 5px;
	width: max-content;
	padding: 0 10px 0 10px;
}

/*Screen for EVENT_CREATE */
#SCR_EVENT_CREATE{
	position:relative;
	text-align:center;
	width:840px;
}

#SCR_EVENT_CREATE #left{
	position:absolute;
	text-align:center;
	width:420px;
	left:0px;
}

#SCR_EVENT_CREATE #right{
	position:absolute;
	text-align:left;
	width:420px;
	left:420px;
	padding-left: 20px;
}

#input_note{
	width: 328px;
	height: 125px;
}

#check_note{
	position: absolute;
	right: 68px;
	top: 103px;
}

/*Screen for EVENT_CREATE_READY */
#SCR_EVENT_CREATE_READY{
	position:relative;
	text-align:center;
	width:840px;
}

#SCR_EVENT_CREATE_READY #left{
	position:absolute;
	text-align:center;
	width:420px;
	left:0px;
}

#SCR_EVENT_CREATE_READY #right{
	position:absolute;
	text-align:left;
	width:470px;
	left:420px;
	padding-left: 20px;
}

#SCR_EVENT_CREATE_READY .input_text{
	margin-right: 0px;
	height: 30px;
}

#SCR_EVENT_CREATE_READY .btn{
	width: 125px;
}

#SCR_EVENT_CREATE_READY .info-label{
	font-weight: 100;
}

#SCR_EVENT_CREATE_READY .description{
	font-weight: normal;
	font-size: 14px;
}

#SCR_EVENT_CREATE_READY #group_url{
	width: 280px;
}

#SCR_EVENT_CREATE_READY #input_email{
	width: 200px;
}

.email-remove{
	text-decoration: underline;
	cursor: pointer;
}

#popup_msg .input_text{
	margin-bottom: 30px;
	margin-right: 0px;
	height: 30px;
}

#popup_msg .btn{
	width: 125px;
}

/*Screen for SETTINGS*/
#SCR_SETTINGS{
	position:relative;
	text-align:center;
	width:840px;
}

#SCR_SETTINGS #left{
	position:absolute;
	text-align:center;
	width:420px;
	left:0px;
}

#SCR_SETTINGS #right{
	position:absolute;
	text-align:left;
	width:480px;
	left:420px;
	padding-left: 20px;
}

#SCR_SETTINGS .btn{
	width: 125px;
}

#SCR_SETTINGS .btn_dis{
	width: 125px;
}

#SCR_SETTINGS .input_text{
	margin-top: 0px;
	margin-right: 0px;
	height: 30px;
}

#SCR_SETTINGS .label{
	font-weight: 500;
	font-size: 14px;
}

#SCR_SETTINGS .label{
	font-weight: 500;
	font-size: 14px;
}

#SCR_SETTINGS #PROFILE_UPLOAD{
	margin-bottom: 10px;
}

#SCR_SETTINGS .screen_info {
	margin-top: 30px;
}

#SCR_SETTINGS .screen_info p{
	font-size: 20px;
	margin-bottom: 10px;
}

#SCR_SETTINGS .copy_url{
	margin-left:0px;
}